*{
	margin: 0;
	padding: 0;
}
a{
	color: #444;
	text-decoration: none;	
}
body{
	color: #333;
	background: #efefef;
	font: 12px tahoma,arial,sans-serif;
}
ul,li{
	list-style: none;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}